.env
node_modules
dist/
logs
.vscode/
.DS_Store
*.log
frontend/node_modules
frontend/dist
backend/node_modules
backend/dist
.idea/
*.iml
backend/.env
frontend/.env
backend/logs/
frontend/logs/
backend/temp/
frontend/temp/
backend/.vscode/
frontend/.vscode/
backend/.DS_Store
frontend/.DS_Store
backend/uploads/ids
backend/iplaods/rooms